<!DOCTYPE html>
<html>
<head>
	<title>Generate File</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<h1>Generate File</h1>
	<form method="POST">
		<label for="user">Enter email id (Make sure IMAP is enabled for this gmail account) : <a href="https://mail.google.com/mail/u/0/#settings/fwdandpop">Change Settings here</a></label>
		<input type="email" id="user" name="user" required><br><br>
		<label for="password">Enter gmail app-password (Generate one here :<a href="https://support.google.com/accounts/answer/185833">Generate Password</a>)</label>
		<input type="password" id="password" name="password" required><br><br>
		<label for="sender_email_id">Enter email id from which you received the email: </label>
		<input type="email" id="sender_email_id" name="sender_email_id" required><br><br>
		<input type="submit" value="Process Emails">
	</form>
<!--	{% if subjects %}-->
<!--		<hr>-->
<!--			{% for subject in subjects %}-->
<!--			<tr>-->
<!--				<td>{{ subject }}</td>-->
<!--			</tr>-->
<!--			{% endfor %}-->
<!--	{% endif %}-->
<div>
	<button onclick="toggleTable()">Click to hide/show entire emails</button>
	{% if rows %}
		<hr>
		<table id="myTable" style="display: none;">
			{% for row in rows %}
			<tr>
				<td>{{ row }}</td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>
	<div>
	<button onclick="toggleTable2()">Click to hide/show all subjects</button>
	{% if subject_rows %}
		<hr>
	<table id="myTable2" style="display: none;">

			{% for subject in subject_rows %}
			<tr>
				<br>
                <form action="/is-spam/" method="post">
                    <td>{{ subject }} <button type="submit" name="subject" value=' {{ subject }} '>Click to check if email with this subject is spam</button></td>
                </form>
				<br>
			</tr>
			{% endfor %}
	</table>
	{% endif %}
	</div>

<script>
  function toggleTable() {
    var table = document.getElementById("myTable");
    if (table.style.display === "none") {
      table.style.display = "table";
    } else {
      table.style.display = "none";
    }
  }
  function toggleTable2() {
    var table = document.getElementById("myTable2");
    if (table.style.display === "none") {
      table.style.display = "table";
    } else {
      table.style.display = "none";
    }
  }


</script>
</body>
</html>
